@import "variables.scss", "_backgroundanimation.scss";

$background-color: #264653;
$board-color: #2a9d8f;
$x-color: #e9c46a;
$o-color: #f4a261;
$third-color: #e76f51;

$button-transition: 0.15s;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    padding: 20px;
    height: 100vh;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

    h1 {
        background-color: $background-color;
        z-index: 10;
        color: $o-color;
        width: 70%;
        max-width: 700px;
        border-top: 5px solid $x-color;
        border-bottom: 5px solid $third-color;
        text-align: center;
        font-weight: bolder;
        letter-spacing: 2px;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }


}




.newGame {

    position: absolute;
    left: auto;
    right: auto;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: width;
    transition: 0.5s;


    button {
        z-index: 10;
        padding: 10px;
        position: relative;
        font-size: large;
        font-weight: bolder;
        letter-spacing: 2px;
        color: black;
        z-index: 100;
        width: 20vw;
        height: 20vw;
        max-width: 200px;
        max-height: 200px;
        min-width: 100px;
        min-height: 100px;
        background-color: $third-color;
        transition: 0.1s;
        border: none;
        overflow: hidden;
        box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.3);

        &:hover {
            background-color: $board-color;
            box-shadow: none;
            color: white;
            transition: $button-transition;
            transition-delay: $button-transition *4;

            span {
                &:nth-child(1) {
                    transform: scaleY(1);
                    transform-origin: bottom;
                    transition: transform $button-transition;
                }

                &:nth-child(2) {
                    transform: scaleX(1);
                    transform-origin: left;
                    transition: transform $button-transition;
                    transition-delay: $button-transition;
                }

                &:nth-child(3) {
                    transform: scaleY(1);
                    transform-origin: top;
                    transition: transform $button-transition;
                    transition-delay: $button-transition * 2;

                }

                &:nth-child(4) {
                    transform: scaleX(1);
                    transform-origin: right;
                    transition: transform $button-transition;
                    transition-delay: $button-transition *3;
                }
            }
        }

        span {
            border: none;
            position: absolute;
            display: block;
            background-color: $board-color;
            transition: transform $button-transition;

            &:nth-child(1) {
                left: 0;
                bottom: 0;
                width: 10px;
                height: 100%;
                transform: scaleY(0);
                transform-origin: top;
            }

            &:nth-child(2) {
                left: 0;
                top: 0;
                width: 100%;
                height: 10px;
                transform: scaleX(0);
                transform-origin: right;
                transition-delay: $button-transition;
            }

            &:nth-child(3) {
                right: 0;
                bottom: 0;
                width: 10px;
                height: 100%;
                transform: scaleY(0);
                transform-origin: bottom;
                transition-delay: $button-transition * 2;

            }

            &:nth-child(4) {
                left: 0;
                bottom: 0;
                width: 100%;
                height: 10px;
                transform: scaleX(0);
                transform-origin: left;
                transition-delay: $button-transition * 3;
            }
        }
    }
}

div{
    text-align: center;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    height: 90vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;

    .gameInfo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-content: center;
        width: 100%;
        max-width: 500px;
        height: auto;
        position: absolute;
        bottom: 20px;

        @media screen and (max-width: 800px) and (max-height:450px){
            right: -150px;
            bottom: auto;
            top: auto;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);


            h5{
                font-size: 15px;
                &:nth-child(1){
                    order: 0;
                }
                &:nth-child(4){
                    order: 1;
                }
                &:nth-child(2){
                    margin-top: 10px;
                    order: 2;
                }
                &:nth-child(5){
                    order: 3;
                }
                &:nth-child(3){
                    margin-top: 10px;
                    order: 4;
                }
                &:nth-child(6){
                    order: 5;
                }
            }
        }

        h5{
            color: whitesmoke;
            font-weight: bolder;

            @media screen and (Max-width: 450px) {
                font-size: 15px;
            }

            @media screen and (Max-width: 350px){
                font-size: 12px;
            }
        }

    }

    
}

.board {
    border: 10px solid $board-color;
    height: 50vh;
    width: 50vh;
    max-height: 470px;
    max-width: 470px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: $board-color;
    animation: boardIntro 1s ease-in;

    @keyframes boardIntro {

        0%{
            transform: scale(0)  rotate(0deg);
        }


        100% {
            transform: scale(1)  rotate(0deg);
          }
        
    }

    .cell {
        cursor: pointer;
        background-color: $background-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: bolder;

        @media screen and (max-height: 650px){
            font-size: 30px;
        }

        @media screen and (max-height: 600px){
            font-size: 25px;
        }

        @media screen and (max-height: 500px){
            font-size: 18px;
        }

        

        &:hover {
            border: 10px solid $background-color;
            transition: $button-transition * 2;
            background-color: $board-color;

            &::after {
                content: "X";
                color: $background-color;
            }
        }
    }
}